/* Put your style information here! */

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   

.jumbotron {
    margin-bottom: 0;
    background-color: #F3ECE7;
    height: 190px;
    /* background-image: url(BGO\ cafe\ photo\ title\ 2\ frost.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat; */
    /* background: transparent;
    backdrop-filter: url(BGO\ cafe\ photo\ title.jpg);
    backdrop-filter: blur(2px); */
}

h1 {
    font-size: 3rem;
    color: #452209;
    /* background-color: white */
}

.navbar {
    background-color: #452209;
}
.navbar-brand {
    color: #FFFFFF;
}
.navbar-brand:hover {
    color: #FFFFFF;
}
.nav-item {
    color: #FFFFFF;
}
.nav-item:hover {
    color: #dcc7b8;
}

.menubody {
    display: flex;
    flex-direction: column;
    margin:0;
    border:0;
    align-self: flex-end;
    float: right;
}

.sidenavbar {
    flex-grow: 0;
    flex-basis: 220px;
    flex-shrink: 0;
}

.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 250px;
    left: 0;
    background-color: #F3ECE7;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1rem;
    color: #452209;
    display: block;
}

.sidenav a:hover {
    color: #8B4513;
}

.menuchoices {
    flex-grow: 4;
    flex-basis: 600px;
    color: #291405;
}

.menutitle {
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.menucourse {
    font-size: 2rem;
    border-bottom: 1px solid #291405;
    margin-right: 1rem;
    margin-top: 3rem;
}

.menusection {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.sectiondescrip {
    font-size: 1rem;
}

.menusubsection {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

.menuitem {
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-right: 5rem;
    justify-content: space-between;
}
.simpleprice {
    font-size: 1rem; 
    font-weight: bold;
}

.itemdescrip {
    font-size: 1rem;
    margin-left: 1rem;
}

.itemoptions {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: space-between;
}

.itemaddons {
    font-size: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: space-between;
}

.scrollbackbtn {
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}


.photomenu {
    flex-grow: 0;
    flex-basis: 350px;
    flex-shrink: 0;
    /* background-color: lawngreen; */
    padding-top: 12rem;
}
  
.photoitem {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.photofood { */
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.photobtn {
    padding-bottom: 8rem;
}

.btn {
    background-color: #8B4513;
    border: #8B4513;
}

.btn.btn-primary:active:hover,
.btn.btn-primary:hover {
    border-color: #452209;
    background-color: #452209;
}

.btn-primary:not(:disabled):not(.disabled):focus{ 
    background-color: #8B4513;
    border-color: #452209;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #452209;
    color: white;
    text-align: center;
    margin-top: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .sidenavbar {
        display: none;
    }

    /* .menubody {
        flex-wrap: wrap;
    } */

    .menuchoices {
        /* flex-direction: row; */
        flex-basis: 100%;
        width: 100%;
        padding-left: 2rem;
    }
    .photomenu {
        /* flex-direction: row; */
        width: 100%;
        flex-basis: 100%;
        background-color: lawngreen;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-flow: row wrap;
    }
    .photofood, .photobtn {
        /* max-width: 350px; */
        width: 100%;
        align-self: center;
        justify-content: center;
        background-color: lightgray;
        
    }

    /* .menuchoices, .photomenu {
        flex-direction: column-reverse;
    } */
}
