/* Put your style information here! */

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   

.jumbotron {
    margin-bottom: 0;
    background-color: #F3ECE7;
    height: 190px;
}

h1 {
    font-size: 3rem;
    color: #452209;
}

.navbar {
    background-color: #452209;
    color: white;
}
.navbar-brand {
    color: #FFFFFF;
}
.navbar-brand:hover {
    color: #FFFFFF;
}
.nav-item {
    color: #FFFFFF;
}
.nav-item:hover {
    color: #dcc7b8;
}
.navbar-toggler {
    background-color: #8B4513;
    border: white;
}
.navbar-toggler-icon {
    /* background-color: red; */
}

.menubody {
    display: flex;
    flex-direction: column;
    margin:0;
    border:0;
    align-self: flex-end;
    float: right;
}

.sidenavbar {
    flex-grow: 0;
    flex-basis: 220px;
    flex-shrink: 0;
}

.sidenav {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F3ECE7;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 20px;
}

.sidenav-fixedtop {
    position: fixed;
    top: 0;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1rem;
    color: #452209;
    display: block;
}

.sidenav a:hover {
    color: #8B4513;
}

.menuchoices {
    flex-grow: 4;
    flex-basis: 450px;
    flex-shrink: 10;
    color: #291405;
}

.sectiondescrip, .itemdescrip {
    padding-right: 3rem;
}

.menutitle {
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.dropdown {
    justify-content: center;
    margin-top: 1rem;
    display: none;
}

.btn.btn-secondary:active:hover, .btn.btn-secondary:hover {
    background-color:  #8B4513;
}

.dropdown-item:active, .dropdown-item:hover {
    background-color:  #8B4513;
}

.menucourse {
    font-size: 2rem;
    border-bottom: 1px solid #291405;
    margin-right: 1rem;
    margin-top: 3rem;
}

.menusection {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.sectiondescrip {
    font-size: 1rem;
}

.menusubsection {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

.menuitem {
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-right: 5rem;
    justify-content: space-between;
}
.simpleprice {
    font-size: 1rem; 
    font-weight: bold;
}

.itemdescrip {
    font-size: 1rem;
    margin-left: 1rem;
}

.itemoptions {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 3rem;
    margin-right: 5rem;
    justify-content: space-between;
}

.itemaddons {
    font-size: 1rem;
    margin-left: 3rem;
    margin-right: 5rem;
    justify-content: space-between;
}

.scrollbackbtn {
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.photomenu {
    flex-grow: 0;
    flex-basis: 300px;
    flex-shrink: 1;
    /* background-color: lawngreen; */
    padding-top: 12rem;
}

.photofood { */
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.photobtn {
    padding-bottom: 8rem;
}

.photofood, .photobtn {
    align-self: center;
    justify-content: center;
    padding-right: 1rem;
}

#photobackbtn {
    display: none;
    justify-content: center;
    padding-top: 2rem;
}

.btn {
    background-color: #8B4513;
    border: #8B4513;
}

.btn.btn-primary:active:hover,
.btn.btn-primary:hover {
    border-color: #452209;
    background-color: #452209;
}

.btn-primary:not(:disabled):not(.disabled):focus{ 
    background-color: #8B4513;
    border-color: #8B4513;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #452209;
    color: white;
    text-align: center;
    margin-top: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

/* tablet version */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

    .jumbotron {
        height: 160px;
    }

    .sidenavbar {
        display: none;
    }

    .dropdown {
        display: flex;
    }

    .menuchoices {
        /* flex-direction: row; */
        flex-basis: 100%;
        width: 100%;
        padding-left: 4rem;
        padding-right: 2rem;
    }

    .sectiondescrip, .itemdescrip {
        padding-right: 3rem;
    }

    .photomenu {
        width: 100%;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        padding-top: 4rem;
    }
    .photofood, .photobtn {
        /* max-width: 350px; */
        width: 100%;
        justify-content: center;
        padding-right: 0;
        padding-left: 1.7rem;
        border-right: 0;
    }

    .photobtn {
        padding-bottom: 4rem;
    }

    #photobackbtn {
        display: flex;
        margin-right: 0;
    }

    .btn.btn-primary:active:hover,
    .btn.btn-primary:hover {
        background-color: #8B4513;
        border-color: #8B4513;
    }

    
}

/* phone version */
@media only screen 
  and (min-device-width: 1px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {

    html {
        font-size: 13px;
    }

    /* * {
        border: 1px solid red;
      } */

    .jumbotron {
        height: 140px;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;..");
      }
    
    .sidenavbar {
        display: none;
    }

    .dropdown {
        display: flex;
    }

    .menuchoices {
        /* flex-direction: row; */
        flex-basis: 100%;
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 1.5rem;
    }

    .menuitem {
        margin-right: 1.5rem;
        margin-left: 0;
    }

    .itemdescrip {
        margin-left: 0rem;
    }
    
    .itemoptions {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    
    .itemaddons {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .photomenu {
        width: 100%;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        padding-top: 4rem;
    }
    .photofood, .photobtn {
        /* max-width: 350px; */
        width: 100%;
        justify-content: center;
        padding-right: 0;
        padding-left: 1.7rem;
        border-right: 0;
    }

    .photofood { */
        padding-top: 4rem;
    }
    
    .photobtn {
        padding-bottom: 4rem;
    }

    #photobackbtn {
        display: flex;
        margin-right: 0;
    }

    .btn.btn-primary:active:hover,
    .btn.btn-primary:hover {
        background-color: #8B4513;
        border-color: #8B4513;
    }

    .footer {
        padding-left: 3rem;
        padding-right: 3rem;
      }
}